/* BORDERS */

@font-face {
	font-family: Daedric;
	src: url(./src/fonts/Daedric.ttf);
}

@font-face {
	font-family: DaedricWorn;
	src: url(./src/fonts/DaedricWorn.ttf);
}

@font-face {
	font-family: MagicCards;
	src: url(./src/fonts/MagicCards.ttf);
}

* {
	cursor: url(./src/cursor/cursor.png) 0 0, auto;
	font-family: MagicCard;
	/* scrollbar-color: #6a5734 #060501; */
}
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/*Scroll bar - does not work on Firefox or Edge*/
/* TODO: fix scrollbar arrows padding. try to add border to scrollbar */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
 {
}
::-webkit-scrollbar-track-piece {
	background-color: #060501;
	border-image: url(./src/menu/thick_border/thick_border.png) 2 fill repeat;
}
::-webkit-scrollbar {
	width: 6px;
	height: 6px;

	border-image: url(./src/menu/thin_border/thin_border.png) 2 fill repeat;
}
::-webkit-scrollbar-thumb {
	background-image: url(./src/menu/scroll/menu_scroll_scroller_middle.png);
	border: 2px solid;
	border-image: url(./src/menu/head/head_border.png) 2 fill repeat;
	image-rendering: pixelated;
}

::-webkit-scrollbar-button:horizontal:decrement {
	background-image: url(./src/menu/scroll/horizontal/menu_scroll_left.png);
	background-size: contain;
	image-rendering: pixelated;
}

::-webkit-scrollbar-button:horizontal:increment {
	background-image: url(./src/menu/scroll/horizontal/menu_scroll_right.png);
	background-size: contain;
	image-rendering: pixelated;
}

::-webkit-scrollbar-button:vertical:decrement:start {
	background-image: url(./src/menu/scroll/vertical/menu_scroll_up.png);
	background-size: contain;
	image-rendering: pixelated;
}
::-webkit-scrollbar-button:vertical:increment:end {
	background-image: url(./src/menu/scroll/vertical/menu_scroll_down.png);
	background-size: contain;
	image-rendering: pixelated;
}

::-webkit-scrollbar-corner {
	background-image: url(./src/menu/scroll/menu_size_button.png);
	background-size: contain;
	padding: 5px;
	image-rendering: pixelated;
}

a {
	color: #2a4b51;
}

button:hover,
a:hover,
[onclick]:hover {
	cursor: url(./src/cursor/cursor_underscore.png) 0 0, auto;
}

body {
	font-family: MagicCards;
	background-color: #5d5d5d;
}

.thick-border {
	border: 4px solid;
	padding: 5px;
	border-image: url(./src/menu/thick_border/thick_border.png) 4 fill repeat;
	image-rendering: pixelated;
}

.thin-border {
	border: 2px solid;
	padding: 5px;
	border-image: url(./src/menu/thin_border/thin_border.png) 2 fill repeat;
	image-rendering: pixelated;
}
.head {
	border: 2px solid;
	padding: 5px;
	border-image: url(./src/menu/head/head_border.png) 2 fill repeat;

	background-image: url(./src/menu/head/menu_head_block_middle.png);
	image-rendering: pixelated;
}

.head-title {
	background-color: #000000d9;
	color: #6a5734;
	padding: 5px;
}

button {
	border: 4px solid;
	padding: 0px 2px;
	border-image: url(./src/menu/button/button-frame.png) 4 fill repeat;
	image-rendering: pixelated;
	background-color: #000000d9;
	color: #6a5734;
}
button:active {
	border-image: url(./src/menu/button/button-frame-inverted2.png) 4 fill repeat;
	color: #484138;
	transform: scale(0.98);
}

/*
gold #6A5734
brown-gold #484138
light gold #7F6C50
black #060501
blue accent #2A4B51
*/
