<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../static/styles.css" />
		<title>Contact - Katariah</title>
	</head>
	<body>
		<header style="position: fixed; top: 0; left: 0; width: 100%; z-index: 100">
			<site-nav></site-nav>
		</header>
		<div
			class="thick-border outer-border page-container"
			style="background: #18140c"
		>
			<div class="head"><p>Contact</p></div>
			<div class="thick-border" style="padding: 24px; background: #1e180e">
				<p style="color: #b6a07a">Contact me. Or don't.</p>
				<ul style="list-style: none; padding: 0; color: #b6a07a">
					<li>
						Email: <span style="color: #e0cfa9">kittykatz1344@ucc.asn.au</span>
					</li>
					<li>
						GitHub:
						<span style="color: #e0cfa9"
							>KKatariah <a href="https://github.com/KKatariah">{</a></span
						>
					</li>
					<li>
						Discord:
						<span style="color: #e0cfa9">
							kkatariah
							<a href="https://discordapp.com/users/336410729676800000">{</a>
						</span>
					</li>
				</ul>
			</div>
		</div>
		<script src="../static/nav-component.js"></script>
	</body>
</html>
