<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../static/styles.css" />
	</head>
	<body>
		<h1>This is a heading</h1>
		<p>This is a paragraph.</p>
		<div class="thick-border" style="max-height: 100px; overflow-y: scroll;">
			<p class="thin-border">hello eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
			<div class="head"
			<div class="head-title">
			</div>
			<a class="head-title" href="https://www.example.com">This is a link</a>
			<div class="head"></div>	
			<button> Button </button>	
		</div>
			
		</div>
		
	</body>
</html>

<!--<img src="../static/src/menu/head/">-->
