<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../static/styles.css" />
		<title>My Resume - Katariah</title>
	</head>
	<body>
		<header style="position: fixed; top: 0; left: 0; width: 100%; z-index: 100">
			<site-nav></site-nav>
		</header>
		<div
			class="thick-border outer-border page-container"
			style="background: #18140c"
		>
			<div class="head"><p>My Resume</p></div>
			<div class="thick-border" style="padding: 24px; background: #1e180e">
				<p style="color: #b6a07a">Nothing here yet. To be continued...</p>
				<ul style="color: #b6a07a; list-style: none; padding: 0">
					<li>This is a list</li>
				</ul>
			</div>
		</div>
		<script src="../static/nav-component.js"></script>
	</body>
</html>
